<p>This is the adventure of:</p>
<p><%= @hero.name %></p>
<div class="row">
	<div class="col-xs-10 col-xs-offset-1" id="game-box">
		<p id="game-content" class="col-xs-6"></p>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<form class="form-inline" id="action-form">
		  <div class="form-group">
		    <label class="sr-only">You do: </label>
		    <input type="text" class="form-control-plaintext" placeholder="type here...">
		  </div>
		  <button type="submit" class="btn btn-primary">Act</button>
		</form>
		<p class="col-xs-12">Game Commands: </br>
		move = search / escape monsters</br>
		atk = attack monster
		</p>
	</div>
</div>
