body {
	background-color: black;
	background-image: url("wooden-desk.jpeg");
	font-family: 'Oregano', cursive;
	font-size: 20px;
	color: white;
}

h1 {
	text-align: center;
	font-size: 70px;
}

form {
	color: black;
}

#homepage-container {
	margin: 10px 10% 0 10%;
}

#game-box {
	height: 60vh;
	background-color: lightgrey;
	background-image: url("old-paper.jpeg");
	background-size: cover;
	overflow-y: scroll;
	/*color: #ecf0ff;*/
	color: black;
	font-size: 28px;
	margin-bottom: 10px;
}

#game-content {

}
